* {
  margin: 0%;
  padding: 0%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}



.restaurants {
  padding: 0px 14%;
  
}
.rest-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
